{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>You-Save</title>
</head>
<body id="body" class="body">
    
    <header>
    <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <div class="navbar-left">
    <h1 class="navbar-brand" title="Télécharger vidéo">You<span>Save</span></h1>
    </div>
    </div>
    </nav>
    </header>
    <main id="main">
    <div class="hero" id="hero">
    <div class="container">
    <div class="hero-title">
    <h1 class="hero-h1">Télécharger vidéo Youtube</h1>
    </div>
    <div class="hero-form">
        {% block content %}{% endblock %}

    </div>
    </div>
    </div>
    <div class="download" id="download"></div>
    </body>
</html>